body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Navbar{
  display: flex;
  height: 50px;
  width: 95%;
  background-color: black;
  border-radius: 10px;
  margin: auto;
  color: white;
  justify-content: space-around;
 
  align-items: center;

}
.left{
  font-weight: bolder;
  /* border: 4px solid yellow */
}

.middle{
  display: flex;
  gap: 30px;
  color: white;
  cursor: pointer;
  /* border: 4px solid yellow */
}

.right{
  height: 30px;
  border-radius: 15px;
  background-color: aqua;
  border: none;
  color: grey;
  width: 80px;
  /* border: 4px solid yellow */
}